body {
  background-color: white;
  font-family: "roboto", sans-serif;
}

h1 {
  font-family: sans-serif;
  color: #430f58;
  font-size: 38px;
  text-align: center;
}

h2,
h3,
h4 {
  margin: 0 0 5px;
  font-family: "roboto", sans-serif;
  color: #57385c;
  font-size: 24px;
}

.container {
  font-family: "roboto", sans-serif;
  background: #ddeedf;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 16px;
  padding: 30px;
}

select {
  display: block;
  width: 100%;
  font-size: 16px;
  background: #d3d6db;
  color: #57385c;
  border: 0;
  padding: 10px 10px;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 10px 0;
  font-family: sans-serif;
  justify-content: space-between;
  color: #57385c;
  border-bottom: 1px dotted #a7bcb9;
  padding: 25px 0;
}

.time {
  font-size: 38px;
  font-weight: bold;
}

.date {
  color: #2c786c;
  font-family: sans-serif;
  opacity: 0.7;
}

footer {
  font-size: 14px;
  text-align: center;
  color: #606470;
}
